<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" *ngIf="!scannerActive">
    <ion-item>
      <ion-input label="Barcode Result" placeholder="Serial Number" [value]="scanResult" readonly></ion-input>
    </ion-item>
    <ion-button [routerLink]="['scanner']">Scan QR (w/page)</ion-button>
    <ion-button id="open-modal">Scan QR (w/modal)</ion-button>
  </div>

  <ion-modal trigger="open-modal" (willPresent)="onWillPresent()" (didPresent)="onDidPresent()" (willDismiss)="onWillDismiss()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Modal Scanner</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <!-- Add any camera overlay UI you want visible on top of stream here -->
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
